                    <!-- Navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" href="/trails/search">Trails</a>
			<a class="nav-item nav-link" href="/bikes">Bikes</a>
			<a class="nav-item nav-link" href="/users">Users</a>
			<!-- Search bar -->
			<form class="form-inline search my-2 my-lg-0" id="find-trail-form" method="POST" action="/users/location">
				<input type="text" name="cityName" id="cityName" class="form-control" placeholder="City Name" required autofocus>
				<button class="btn search-btn btn-outline-success my-2 my-sm-0" id="find-trail-btn" type="submit">Find Trail</button>
			</form>
			<!-- Button for Login modal -->
			<button type="button" class="btn btn-link" data-toggle="modal" data-target="#loginModal">
				Login
			</button>
			<!-- Button for Register modal -->
			<button type="button" class="btn btn-link" data-toggle="modal" data-target="#registerModal">
				Register
			</button>
			<a class="nav-item nav-link" href="/users/logout">Logout</a>
		</div>
	</div>
</nav>


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">User Login</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-signin" method="POST" action="/users/login">
					<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
					<h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email (username)" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					<p class="mt-5 mb-3 text-muted">&copy; 2018 KMS</p>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">User Registration</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-signin" method="POST" action="/users/register">
					<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
					<h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
					<label for="inputEmailRegister" class="sr-only">Email address</label>
					<input type="email" name="username" id="inputEmailRegister" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPasswordRegister" class="sr-only">Password</label>
					<input type="password" name="password" id="inputPasswordRegister" class="form-control" placeholder="Password" required>
					<label for="inputDisplayName" class="sr-only">Password</label>
					<input type="displayname" name="displayname" id="inputDisplayName" class="form-control" placeholder="DisplayName" required>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
					<p class="mt-5 mb-3 text-muted">&copy; 2018 KMS</p>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

		<!-- <button class="btn search btn-outline-success my-2 my-sm-0" id="find-trail" type="submit">Find Trail</button> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script>
		            const $btn = $('#find-trail-btn');
		            $btn.on('click', (event) => {
						event.preventDefault();
		                $('#find-trail-form').submit();
		            })

		            // $btn.on('click', (event) => {
		            //     event.preventDefault();
		            //     const location = $('#find-trail-input').val();
		            //     console.log(location);
		            //     $.post('/users/location', {"location":location}, (err, response) => {
		            //         console.log(response);
		            //         $('body').append(response);
		            //     })
		            //     // console.log('Got clicked');
		            //     $('body').append(location)
		            // })
		</script>