<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <h1>2018-06-21</h1>
  <h2>'Hello'</h2>
  <ul>

  </ul>
  <div>Hi there. 
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

<button class="btn btn-outline-success my-2 my-sm-0" id="find-trail" type="submit">Find Trail</button>
<button id="btn">Click</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  const $btn = $('.btn');

  $btn.on('click', (event) => {
    console.log('Got clicked');
    $('body').append("hi there")
  })
</script>


</div>
<!-- jquery -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->
    <!-- <script src="js/app.js"></script> -->
</body>
</html>