<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <h1>2018-06-21</h1>
  <h2>'Hello'</h2>
  <ul>

  </ul>
  <div>Hi there. 
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  
  <button id="btn">Click</button>
  <button id="b2">Click</button>
  <button id="b3">Click</button>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
</body>
</html>