.container {
	font-family: 'Lato', sans-serif;
	background-color: #DCDCDC;
	height: 800px;
	width: 500px;
	justify-content: center;
	text-align: center;
}
.navbar-brand {
	background: url('/images/triangles3.png'); 
	height: 83px;
	width: 100px;
	background-repeat: no-repeat;
	margin-top: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listScroll {
 height: 400px;
 overflow-y: scroll;
}