.container {
	font-family: 'Lato', sans-serif;
	background-color: #DCDCDC;
	height: 800px;
	width: 500px;
	justify-content: center;
	text-align: center;
}
.navbar-brand {
	background: url('/images/triangles3.png'); 
	height: 83px;
	width: 100px;
	background-repeat: no-repeat;
	margin-top: 3px;
}
/*
.hero {
	background: url('/images/bikephoto.png');
	height: 450px;
	width: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	margin-left: 120px;
	margin-bottom: 20px;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listScroll {
 height: 600px;
 overflow-y: scroll;
}

header {
	margin-top: 15px;
	margin-bottom: 15px;
}