<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <form action="/bikes/<%=bike.id%>?_method=PUT" method="post">
        <input type="text" name="name" /><br/>
        <input type="text" name="type">
        <input type="submit" value="Commit Bike Edits"/>
      </form>
  </body>


  <!-- ask about how to also change the password from here -->
</html>
