<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Available Mountain Bikes</h1>

    <ul>
    <% for(let i = 0; i < bikes.length; i++) { %>
      <li><a href="/bikes/<%=bikes[i].id%>"><%=bikes[i].name %></a></li>
      <form action="/bikes/<%=bikes[i].id%>/like" method="post">
        <button type="submit" value="<%=bikes[i].id%>"> Like </button>
      </form>
    <% } %>
    </ul>

    <% trailsData %>
    <div>
      <a href="/bikes/new">Create New Bike</a>
    </div>
    <div>
      <a href="/bikes">Return to Home Page</a>
    </div>

  </body>
</html>
