<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div>
    <% include ../partials/_navbar.ejs %>
    </div>
    <form action="/bikes" method="post">
      <input type="text" name="name"><br>
      <input type="type" name="type"><br>
      <input type="type" name="price"><br>
      <input type="type" name="image"><br>
      <input type="submit" value="Create New Bike">
    </form>

  </body>
</html>
