<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/bikes" method="post">
      <input type="text" name="BikeName"><br>
      <input type="type" name="BikeType">
      <input type="submit" value="Create New Bike">
    </form>

  </body>
</html>
