<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <form action="/bikes" method="post">
        <input type="text" name="name" /><br/>
        <input type="text" name="type">
        <input type="submit" value="Create Bike"/>
      </form>

  </body>
</html>
