<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bike Name: <%=bikes.name%></h1>
    <h1>Password: <%=bikes.type%></h1>

    <div>
      <a href="/bikes/<%=bikes.id%>/edit">Edit Bike</a>
    </div>

    <a href="/"> Return to home page</a>

  </body>
</html>
